.App {
  text-align: center;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  background: #26C6DA;
}
.question-name{
  font-size: 20px;
  font-weight: 700;
}

.question-area{
  margin:20px 0;
  height: 60px;

}
.button-area{
  margin-top:  15px;
}
.btn{
  margin:2px;
}
.question{
  font-size:22px;
  border-bottom: 3px solid #ddd;
  margin:0 5px;
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}
.question:hover{
  background: #F44336;
  color:white;
  border-bottom: 3px solid #F44336;
}

empty-message{
  font-size: 25px;
  margin: 30px 0;
}